.regreso{
    width: 1000px;
    height: 1200px;
    margin-top: 25px;
    margin-left: 20px;
    font-family: Verdana,Geneva,sans-serif;
    font-size:30px;
    color : blue;
    text-align : center;
}